body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    background-color: rgb(255, 255, 255);
    height: 64px;
    justify-content: space-between;
    width: 100%;

}

.logo-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-group img {
    height: 64px;                  
}

.brand-text {
    font-weight: bold;
    font-size: 18px;
}

.grey {
    color:grey
}

.menu-bar {
    margin-right: 24px;
}

.menu-bar > ul {
    display:flex;
    list-style: none;
    margin-left: auto;
    margin-right: 24px;
    gap:16px;
}

/*ส่วนนี้จะเป็นส่วนของ การจัดวางรูปภาพในเนื้อหาใน body */

.firstpart {
    background-color: rgb(223, 223, 223);
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    width:100%;    
    font-size: 2rem;
}

.banner-image {
    margin: 24px 32px;
    size-adjust: 60%;
}

.banner-content {
    color: #444;
    text-align: left;
    padding: 24px;
    align-content: center;
    justify-content: center;
}

.btn {
    background-color: #444;
    cursor: pointer;
    padding-top:8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.btn > a {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}


.secondpart {
    display:flex;
    background-color: rgb(255, 255, 255);

}

.secondpart > .activity {
    flex-direction: row;
}

.information-image {
    width: 60%;
    margin: 32px 24px;
}

.information-content {

    color: #444;
    margin-left:24px;
    margin-right: 24px;
    margin-top: 32px;
    padding-bottom: 32px;

}

.title2 {
    font-size: 2.2rem;
    font-weight: 800;
    color: rgb(61,61,61);
    justify-content: flex-start;
    text-align: left;
}

.banner {
    max-width: 100%;
}

.description{
    margin-bottom: 32px;
    line-height: 1.5;
}
.emanuel_quote {
    color: black;
    display: block;
    padding-top: 32px;
    margin-bottom: 32px;
}

.activity {
    margin-left: 16px;
    margin-top: 32px;
    width: 40%;
    background-color: rgb(255, 255, 255);
}

.orientation-image {
    margin-bottom: 15px;
} 