body {
    margin: 0;
    padding: 0;
    background-color: rgb(214, 214, 214);
    font-family: Arial, Helvetica, sans-serif;
}


.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 24px 0 24px;
    background-color: rgb(255, 255, 255);
    height: 64px;
    justify-content: space-between;
    width: 100%;

}

.logo-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-group img {
    height: 64px;                  
}

.brand-text {
    font-weight: bold;
    font-size: 18px;
}

.grey {
    color:grey
}

.menu-bar {
    margin-right: 24px;
}

.menu-bar > ul {
    display:flex;
    list-style: none;
    margin-left: auto;
    margin-right: 24px;
    gap:16px;
}

/*ส่วนนี้จะเป็นส่วนของ การจัดวางรูปภาพในเนื้อหาใน body */

.firstpart {
    display: flex;
    margin: 32px 24px;
    font-size: 2rem;
}

.banner-image {
    margin: 24px 32px;
    size-adjust: 60%;
}

.banner-content {
    color: #444;
    text-align: left;
    padding: 24px;
    align-content: center;
    justify-content: center;
}

.btn {
    background-color: #444;
    cursor: pointer;
    padding-top:8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.btn > a {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}



    